::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4D82C1;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4D82C1;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #4D82C1;
  }

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
}

a {
    font-family: 'Roboto Slab', serif;
}

.active {
    color: #4D82C1 !important;
}

a:hover {
    color: #4D82C1 !important;
}

li, a {
    color: #717171 !important;
    padding: 0px 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.boton-verde {
    background-color: #99CD68;
    color: #000 !important;
    border-radius: 45px;
    padding: 10px 20px !important;
    display: inline-block;
    text-decoration: none;
    border: solid 1px transparent;
}

.boton-verde:hover {
    background-color: #4D82C1;
    color: #fff !important;
    border: solid 1px #fff;
}

.boton-verde.active {
    background-color: #4D82C1;
    color: #fff !important;
    border: solid 1px #fff;
}

.boton-verde-buscador {
    background-color: #99CD68;
    color: #000 !important;
    border-radius: 45px;
    display: inline-block;
    text-decoration: none;
    border: solid 1px transparent;
}

.boton-verde-buscador:hover {
    background-color: #4D82C1;
    color: #fff !important;
    border: solid 1px #fff;
}

.boton-azul {
    background-color: #4D82C1;
    color: #fff !important;
    border-radius: 45px;
    padding: 10px 20px !important;
    display: inline-block;
    text-decoration: none;
    border: solid 1px transparent;
}

.boton-azul:hover {
    background-color: #4D82C1;
    color: #fff !important;
    border: solid 1px #fff;
}

.bg-azul {
    background-color: #4D82C1;
}

.bg-verde {
    background-color: #99CD68;
}

.bg-celeste {
    background-color: #DBE6F3;
}
.caption {
    padding: 90px 100px 190px 130px;
}
.carousel-caption-caption {
    float: right;
}

.caption h2 {
    animation-delay: 1s;
}

.caption p {
    animation-delay: 2s;
}

.caption a {
    animation-delay: 3s;
}

.portada-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.text-azul {
    color: #4D82C1 !important;
}

.propiedad {
    box-shadow: 0px 20px 30px #0003;
}

.carousel-inner {
    overflow: inherit !important;
}

.precio {
    color: #99CD68;
    font-size: 24px;
}

.ir {
    background-color: #98ce6752;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    padding-top: 11px;
    border-radius: 16px;
}

.portada-control {
    position: absolute;
    left: 15%;
    bottom: 27%;
    width: 40%;
}

.bullet  {
    border: 0;
    background-color: #ffffff73;
    height: 12px;
    border-radius: 100px;
    margin: 4px;
}

.arrow-portada {
    border: 0;
    background-color: #ffffff45;
    padding: 5px 10px;
}

.lote {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.lote-sub {
    height: 230px;
    margin-bottom: 40px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.footer {
    background-color: #D6D6D6;
    color: #717171;
}

.buscador {
    box-shadow: 0px 6px 20px 0px #00000038;
}

.cont-buscador {
    margin-top: -30px;
    z-index: 1000;
    position: relative;
}

.menu-res {
    border: 0;
    background-color: #dbe6f3;
    padding: 9px 11px 11px 11px;
}

.departamento {
    background-color: #4D82C1;
    color: #fff;
    padding: 6px;
    width: 70px;
    position: relative;
    margin-top: -16px;
}

.disponible {
    background-color: #99CD68;
    color: #000;
    float: right;
    padding: 6px;
    margin-top: -50px;
    z-index: 1000;
    position: relative;
    font-size: 12px;
    font-weight: 500;
}

.buscar {
    padding: 10px 14px;
    border: 0;
}

.buscar:hover {
    padding: 10px 14px;
    background-color: #2f5d95;
    border: 0;
}

.select-buscar {
    width: 242px;
    display: initial;
    height: 44px;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: #00000059;
}

.lotes-caption {
    padding: 360px 20px 10px 20px;
}

.lotes-caption-sub {
    padding: 100px 20px 10px 20px;
}

.item-lote {
    display: inline-block;
    margin-top: 10px;
}

.fracciones {
    background-color: #E85353;
    color: #fff;
    display: inline-flex;
    padding: 6px 7px;
    border-radius: 8px;
    width: 35px;
    text-align: center;
}

.fs-12 {
    font-size: 12px;
}

.lotes-disponibles {
    background-color: #99CD68;
    color: #fff;
    display: inline-flex;
    padding: 6px 7px;
    border-radius: 8px;
    width: 35px;
    text-align: center;
}

.bg-gris-claro {
    background-color: #F5F5F5;
}

.bg-gris-oscuro {
    background-color: #D6D6D6;
}

.text-gris-oscuro {
    color: #717171 !important;
}

.text-gris-oscuro.active {
    color: #4D82C1 !important;
}

.social {
    border: solid 2px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    padding: 0px 0px;
    margin: 5px;
}

.logo-footer {
    filter: grayscale(100%);
    margin-left: 54px;
    margin-bottom: 30px;
}

.borde-footer {
    border-left: solid 1px #D6D6D6;
}

.portada-about {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
}

.cover-portada {
    background-color: #00000082;
    height: 100%;
    padding-top: 10%;
}

.form-check-input:checked {
    background-color: #99cd68 !important;
    border-color: #ffffff !important;
}

.propiedad-checket {
    box-shadow: 0px 0px 0px 5px #4c82c1;
}

.caption-mapa {
    background-color: #ffffff;
    color: #41464b;
    padding: 8px;
    margin: 5px;
    border-radius: 11px;
    margin-top: 54px;
}

.departamento-mapa {
    background-color: #4c82c1;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 5px 6px;
}


@media only screen and (max-width: 1920px) {

    .portada-control {
        margin-top: -110px;
        position: relative;
        margin-bottom: 70px;
        bottom: 58%;
    }

    .carousel-caption-caption {
        max-width: 780px;
    }
  
}

  @media only screen and (max-width: 1058px) {
    .portada-control {
        margin-top: -130px;
    }

    .caption {
        padding: 60px 50px 200px 80px;
    }
  }

  @media only screen and (max-width: 1041px) {
  
    .caption {
        padding: 60px 50px 200px 80px;
    }
  }

@media only screen and (max-width: 991px) {

    .btn-res {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .lotes-caption {
        padding: 330px 20px 10px;
    }

    .lotes-caption-sub {
        padding: 70px 20px 10px;
    }

    .nav-res {
        border-top: dashed 1px #dedede;
        margin-top: 20px;
        padding-top: 20px;
    }

    .caption {
        padding: 60px;
        padding-bottom: 160px;
    }

    .portada-control {
        margin-top: -131px;
        left: 90px;
    }

    .ir {
        background-color: #98ce6752;
        width: 30px;
        height: 30px;
        padding-top: 0px;
    }

    .arrow-ir {
        width: 16px;
    }
  }

  @media only screen and (max-width: 768px) {

    .ir {
        background-color: #98ce6752;
        width: 40px;
        height: 40px;
        padding-top: 6px;
        margin-top: 10px;
    }

    .portada-control {
        margin-top: -111px;
        left: 80px;
    }
  
    .caption {
        padding: 38px 30px 130px 60px;
    }
    
    .borde-footer {
        border-bottom: solid 1px #D6D6D6;
        border-left: solid 0px #D6D6D6;
        padding-bottom: 20px;
        padding-top: 20px;

    }

  }

  @media only screen and (max-width: 767px) {

    .portada-control {
        margin-top: -391px;
        left: 120px;
        width: 100%;
    }

    .portada-img {
        height: 300px;
    }

    .cont-buscador {
        margin-top: 310px;
    }
  }

  @media only screen and (max-width: 718px) {

    .portada-control {
        display: block;
        width: 100%;
        bottom: 68%;
    }
  

  }

  @media only screen and (max-width: 601px) {
    .caption {
        padding: 48px 90px 110px 90px;
    }

    .portada-control {
        display: block;
        width: 100%;
        bottom: 66%;
        left: 90px;
    }
  }

  @media only screen and (max-width: 437px) {
    .caption {
        padding: 40px 50px 118px 50px;
    }

    .portada-control {
        width: 100%;
        bottom: 42%;
        padding: 0 50px;
        margin-left: -100px;
    }
  }

  @media only screen and (max-width: 400px) {

    .lotes-caption {
        padding: 380px 10px 10px;
    }
    
    .lotes-caption-sub {
        padding: 115px 10px 10px;
    }
  }



  @media only screen and (max-width: 357px) {
    .caption {
        padding: 40px 50px 118px 50px;
    }

    .portada-control {
        width: 77%;
        bottom: 38%;    
    }
  }

  @media only screen and (max-width: 333px) {
    .caption {
        padding: 40px 50px 118px 50px;
    }

    .portada-control {
        width: 77%;
        bottom: 33%;    
    }
  }